.links-background {
    width: 100vw;
    display: block;
}
#links-author {
    position: absolute;
    top: 154vw;
    left: 2vw;
    color: white;
    font-size: 1vw;
    font-family: 'Sansita Swashed', cursive;
}
#links-title {
    position: absolute;
    top: 21vw;
    left: 12vw;
    font-weight: 500;
    background-color: rgba(200,200,200,0);
    color: white;
    border-radius: 1vw;
    font-family: 'Work Sans', sans-serif;
}
#zoom {
    font-size: 5vw;
}
#ortega-class {
    margin-top: 5vw;
    font-size: 2.5vw;
}
#environmental {
    margin-top: 2vw;
    font-size: 2.5vw;
}
.white-box-link {
    position: absolute;
    top: 60vw;
    height: 15vw;
    width: 38.5vw;
    background-color: rgb(255,255,255);
    border-radius: 1vw;
    box-shadow: 0vw 0.5vw 0.5vw rgb(150,150,150);
    text-decoration: none;
}
.white-box-lg:hover {
    box-shadow: 0vw 0.5vw 0.5vw rgb(100,100,100);
    transform: scale(1.01);
    transition-duration: 1s;
    cursor: pointer;
}
.zoom-text {
    font-family: 'Fredoka One', cursive;
    font-size: 3.5vw;
    letter-spacing: 0.3vw;
    text-decoration: none;
    text-align: center;
    margin-top: 5vw;
}
.hidden-link {
    color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 2vw;
}
#about-box {
    position: absolute;
    top: 12vw;
    left: 25vw;
    width: 50vw;
    height: 40vw;
    background-color: white;
    border-radius: 1vw;
    box-shadow: 0vw 0.25vw 0.25vw rgb(100,100,100);
}
#banner {
    width: 100%;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}
#brandon {
    margin-top: -10%;
    margin-left: 8%;
    width: 20%;
    border-radius: 100%;
    border-style: solid;
    border-width: 0.25vw;
    border-color: white;
}
#bio {
    position: absolute;
    top: 12vw;
}
#bio-text {
    margin-left: 30%;
    margin-top: -7.5%;
}
#linkedin {
    position: absolute;
    top: 52.5vw;
    width: 3vw;
    left: 47.5vw;
}
#linkedin:hover {
    cursor: pointer;
}