#about-me {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.about-background {
    width: 100vw;
    display: block;
}
.white-box-lg:hover {
    box-shadow: 0vw 0.5vw 0.5vw rgb(100,100,100);
    transform: scale(1.01);
    transition-duration: 1s;
    cursor: pointer;
}
#about-box {
    position: absolute;
    top: 12vw;
    left: 25vw;
    width: 50vw;
    height: 40vw;
    background-color: white;
    border-radius: 1vw;
    box-shadow: 0vw 0.25vw 0.25vw rgb(100,100,100);
}
#banner {
    width: 100%;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}
#brandon {
    margin-top: -10%;
    margin-left: 8%;
    width: 20%;
    border-radius: 100%;
    border-style: solid;
    border-width: 0.25vw;
    border-color: white;
}
#bio {
    position: absolute;
    top: 12vw;
}
#bio-text {
    margin-left: 30%;
    margin-top: -7.5%;
}
#linkedin {
    position: absolute;
    top: 24.5vw;
    width: 2.5vw;
    left: 53.5vw;
    z-index: 1;
}
#linkedin:hover {
    cursor: pointer;
}
#scroll-hint {
    position: absolute;
    top: 45vw;
    left: 77vw;
    font-size: 1vw;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: 600;
    text-decoration: none;
}
#scroll-hint:hover {
    transform: scale(1.02);
    transition-duration: 0.3s;
}