#footer {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    height: 8.5vw;
    width: 100vw;
    background-color: black;
    z-index: 1;
    //margin-top: -0.2vw;
}
#footer-block {
    font-size: 0.75vw;
    font-family: 'Castoro', serif;
    color: white;
    padding-left: 3vw;
    padding-top: 4vw;
    z-index: 2;
}
.footer-img {
    width: 1.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-right: 3vw;
}
#footer-links {
    display: flex;
    flex-direction: row;
    margin-top: -2vw;
    width: 15vw;
    margin-left: 43vw;
    color: white;
    z-index: 2;
}
.footer-bw {
    width: 2.5vw;
    margin-right: 3vw;
}