.nav-bar {
    z-index: 5;
    background-color: rgba(255, 213, 249, 0);
    height: 6vw;
    width: 100vw;
    position: absolute;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }
  #portfolio-logo {
    position: absolute;
    left: 12vw;
    color: white;
    font-size: 2.5vw;
    //font-family: 'Sansita Swashed', cursive;
    font-family: 'Castoro', serif;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 1vw;
    text-shadow: 0.1vw 0.1vw 0.1vw rgb(0,0,0);
}
#portfolio-logo:hover {
    cursor: pointer;
}
#bw {
    width: 3.5vw;
    margin-right: 1vw;
    font-family: 'Permanent Marker', cursive;
    font-size: 3vw;
    // border-style: solid;
    // border-color: white;
    // border-width: 0.03vw;
    border-radius: 0.6vw;
    filter: drop-shadow(0.1vw 0.1vw 0.1vw rgb(50,50,50));
}
#home-button {
    position: absolute;
    top: 2vw;
    left: 77vw;
    font-size: 1.5vw;
    font-family: 'Work Sans', sans-serif;
    color: white;
    padding-top: 0.2vw;
    padding-bottom: 0.25vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    text-decoration: none; 
}
#home-button:hover {
    cursor: pointer;
}
#home-img {
    width: 6vw;
}
#menu-button {
    position: absolute;
    top: 1vw;
    left: 87vw;
    font-size: 3vw;
    font-family: 'Work Sans', sans-serif;
    color: white;
    transform: scale(1.25);
    z-index: 1;
    text-shadow: 0.1vw 0.1vw 0.1vw rgb(0,0,0);
}
#menu-button:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition-duration: 0.3s;
}
#nav-menu {
    position: absolute;
    left: 85vw;
    top: 1vw;
    font-size: 1vw;
    background-color: rgba(200,200,200,0);
    border-radius: 1vw;
    font-family: 'Castoro', serif;
    letter-spacing: 0.1vw;
    
    width: 11vw;
    height: 10vw;
    padding-top: 4.5vw;
    padding-bottom: 1vw;
    padding-left: 2vw;
    z-index: 1;
    text-shadow: 0.1vw 0.1vw 0.1vw rgb(0,0,0);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    //background-color: white;
}
.nav-item {
    margin-top: 0.75vw;
}
.nav-link {
    text-decoration: none;
    color: white;
    
}
#nav-home:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition-duration: 0.3s;
}
#nav-projects:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition-duration: 0.3s;
}
#nav-resume:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition-duration: 0.3s;
}
#projects-img {
    width: 9vw;
}
#about-img {
    width: 8vw;
}