#projects-page {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#project-page-holder {
    position: absolute;
    top: 10vw;
    left: 10vw;
}
#project-background {
    width: 100vw;
    height: 60vw;
    display: block;
}
#project-img-lg {
    height: 40vw;
    object-fit: cover;
}
#project-img {
    height: 20vw;
    margin-right: 32vw;
    margin-left: 4vw;
}
#scroll-img {
    height: 40vw;
    width: 32vw;
    overflow: auto;
}
#project-img-invert {
    height: 20vw;
    margin-right: 32vw;
    margin-left: 4vw;
    filter: invert(0.85);
}
.project-desc {
    margin-left: 35vw;
    font-size: 1.5vw;
    line-height: 2.5vw;
    margin-top: -40vw;
    margin-right: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0.1vw 0.1vw 0.1vw rgb(185,185,185);
    height: 35vw;
}
#github-panels {
    position: absolute;
    top: 10vw;
}
.project-panel {
    height: 50vw;
    width: 100vw;
    margin-bottom: 6.25vw;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.project-title {
    font-size: 4vw;
    color: white;
    text-align: center;
    margin-bottom: 1vw;
    font-family: 'Work Sans', sans-serif;
    text-shadow: 0.2vw 0.2vw 0vw rgb(100,100,100);
}
.project-title-black {
    font-size: 4vw;
    color: black;
    text-align: center;
    margin-bottom: 1vw;
    font-family: 'Work Sans', sans-serif;
    text-shadow: 0.2vw 0.2vw 0vw rgb(100,100,100);
}
.tag-title {
    width: 80vw;
    text-align: center;
    font-size: 4vw;
    color: white;
    text-align: center;
    margin-bottom: 1vw;
    font-family: 'Work Sans', sans-serif;
    text-shadow: 0.1vw 0.1vw 0.1vw rgb(0,0,0);
}
.tag-subtitle {
    width: 80vw;
    text-align: center;
    font-size: 1vw;
    color: white;
    text-align: center;
    margin-bottom: 1vw;
    font-family: 'Work Sans', sans-serif;
    text-shadow: 0.1vw 0.1vw 0.1vw rgb(0,0,0);
}
#project-preview-title {
    width: 80vw;
    text-align: center;
    font-size: 4vw;
    color: white;
    text-align: center;
    margin-bottom: 1vw;
    font-family: 'Work Sans', sans-serif;
    text-shadow: 0.1vw 0.1vw 0.1vw rgb(0,0,0);
    display: none;
}
.tag-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1vw;
    width: 100vw;
    margin-bottom: 1vw;
    justify-content: center;
}
#selected-tags {
    position: absolute;
    top: 35vw;
    left: 10vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1vw;
    width: 80vw;
    margin-bottom: 1vw;
    justify-content: center;
    color: rgba(0,0,0,0);
}
.tag {
    width: 7vw;
    background-color: white;
    margin: 1vw;
    text-align: center;
    padding-top: 0.25vw;
    padding-bottom: 0.25vw;
    box-shadow: 0.2vw 0.2vw 0vw rgb(150,150,150);
    z-index: 2;
    text-shadow: 0.1vw 0.1vw 0.1vw rgb(185,185,185);
    font-weight: 600;
    font-family: 'Castoro', serif;
    border-radius: 1vw;
    border-style: solid;
    border-width: 0.1vw;
    border-color: rgb(150,150,150);
    box-shadow: 0.2vw 0.2vw 0vw rgb(150,150,150);
    text-decoration: none;
    color: black;
}
.long-tag {
    width: 10.5vw;
    background-color: white;
    margin: 1vw;
    text-align: center;
    padding-top: 0.25vw;
    padding-bottom: 0.25vw;
    box-shadow: 0.2vw 0.2vw 0vw rgb(150,150,150);
    z-index: 2;
    text-shadow: 0.1vw 0.1vw 0.1vw rgb(185,185,185);
    font-weight: 600;
    font-family: 'Castoro', serif;
    border-radius: 1vw;
    border-style: solid;
    border-width: 0.1vw;
    border-color: rgb(150,150,150);
    box-shadow: 0.2vw 0.2vw 0vw rgb(150,150,150);
    text-decoration: none;
    color: black;
}
.short-tag {
    width: 5vw;
    background-color: white;
    margin: 1vw;
    text-align: center;
    padding-top: 0.25vw;
    padding-bottom: 0.25vw;
    box-shadow: 0.2vw 0.2vw 0vw rgb(150,150,150);
    z-index: 2;
    text-shadow: 0.1vw 0.1vw 0.1vw rgb(185,185,185);
    font-weight: 600;
    font-family: 'Castoro', serif;
    border-radius: 1vw;
    border-style: solid;
    border-width: 0.1vw;
    border-color: rgb(150,150,150);
    box-shadow: 0.2vw 0.2vw 0vw rgb(150,150,150);
    text-decoration: none;
    color: black;
}
.github-button {
    // position: absolute;
    // top: 46vw;
    // left: 60vw;
    margin-left: 44vw;
    margin-top: -5vw;
    height: 1.2vw;
    width: 7vw;
    background-color: rgb(40,40,40);
    //margin: 1vw;
    text-align: center;
    padding-top: 0.25vw;
    padding-bottom: 0.25vw;
    box-shadow: 0.2vw 0.2vw 0vw rgb(150,150,150);
    z-index: 2;
    text-shadow: 0.1vw 0.1vw 0.1vw rgb(60,60,60);
    font-size: 0.7vw;
    font-weight: 600;
    font-family: 'Castoro', serif;
    border-radius: 1vw;
    border-style: solid;
    border-width: 0.1vw;
    border-color: rgb(150,150,150);
    box-shadow: 0.2vw 0.2vw 0vw rgb(150,150,150);
    text-decoration: none;
    color: white;
}
.github-button:hover {
    background-color: black;
    color: rgb(210,210,210);
    box-shadow: 0.2vw 0.2vw 0vw rgb(100,100,100);
    border-color: rgb(100,100,100);
    transform: scale(1.01);
    transition-duration: 0.3s;
}
.short-tag:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
    cursor: pointer;
}
.tag:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
    cursor: pointer;
}
.long-tag:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
    cursor: pointer;
}
.subpanel {
    margin-left: 18vw;
    width: 64vw;
    height: 40vw;
    background-color: rgb(255,255,255);
    //border-radius: 1vw;
    box-shadow: 0vw 0.5vw 0.5vw rgb(150,150,150);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-shadow: 0.1vw 0.1vw 0.1vw rgb(200,200,200);
}
#home-hint {
    z-index: 5;
    position: fixed;
    top: 2vw;
    left: 2vw;
    font-size: 1vw;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 0.1vw 0.1vw 0.1vw rgb(0,0,0);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
