.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
.slide-img {
    width: 100%;
    height: 19vw;
    margin-top: 0.5vw;
}
.slide-img-tall {
  height: 38vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding-left: 4vw;
}
.slide-img-short {
  width: 32vw;
  margin-top: 1vw;
}
#slideshow {
    width: 32vw;
    height: 40vw;
    //padding-top: 2%;
    //padding-bottom: 2%;
    padding-left: 1%;
}